<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silentflip.hptouchsmart.phonedown">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.silentflip.hptouchsmart.phonedown.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.silentflip.hptouchsmart.phonedown.screenOff"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="658284e411bf6dd78736577db09381b9352bc92c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>